$font-inter: 'Inter';

$color-purple: #d023be;
$color-dark-purple: #a20492;
$color-dark: #202122;
$color-dark-grey: #9297a2;
$color-grey: #e3e3e6;
$color-light-grey: #f7f7f7;
$color-white: #ffffff;

$gutter-sm: 10px;
$gutter: 20px;
$gutter-md: 30px;
$gutter-lg: 40px;
$gutter-xl: 60px;
$gutter-xxl: 80px;

$border-radius-sm: 10px;
$border-radius: 16px;
$border-radius-lg: 35px;

$font-size-sm: 14px;
$font-size: 16px;

$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

$transition-short: 0.2s;
$transition: 0.3s;

$container-width: 1200px;

$tablet-breakpoint: 768px;
